extends layout 

block content 

  h1 #{title} 

  form(method="POST")
    div.form-group 
     label(for="name") Category: 
     input#name.form-control(type="text", placeholder="Video games etc...", name="name", required, value=(category===undefined ? "" : category.name))
    div.form-group 
      label(for="description") Description: 
      textarea#description.form-control(placeholder="Fer fun..." name="description" required)= category===undefined ? "" : category.description
    button.btn.btn-primary(type="submit") Submit
  button.btn.btn-primary 
    a(href="/catalog/categories" style="color:white; text-decoration:none;") Cancel 

  if errors 
    ul 
      for error in errors 
        li!= error.msg